# Python / Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Alembic cache
backend/alembic/__pycache__/

# Flutter / Mobile
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugin-registrant/
mobile/ios/Pods/
mobile/android/.gradle/
mobile/.idea/
mobile/*.iml

# macOS Sistem Dosyaları
.DS_Store